@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 150%;
    letter-spacing: 0px;
    font-family: "Roboto", sans-serif;
    background-color: var(--charcoal-grey);
    color: var(--dark-slate-grey);
}

/* Typography Styles */
.text__card-heading {
    font-size: 5.6rem;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: 0px;
}

.text__card-body-small {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 0px;
}

/* Other reusable classes */
.hidden {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sign-up form */
.card-container {
    min-height: 100vh;
}

.card {
    display: flex;
    background-color: var(--white);
    border: 1px solid #151515;
    border-radius: 36px;
    box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.25);
}

#sign-up-card {
    max-width: 92.8rem;
}

.card-content {
    padding: 9.7rem 6.4rem;
}

.card-text-content {
    margin-bottom: 4rem;
}

.card-text-content p {
    margin: 2.4rem 0;
}

.checkmark-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkmark-item {
    display: flex;
    gap: 16px;
}

.form {
    display: flex;
    flex-direction: column;
}

.email-info-wrapper {
    display: flex;
    justify-content: space-between;
}

.error-message {
    color: var(--tomato);
}

.email-input-field {
    margin: 0.8rem 0 2.4rem 0;
    padding: 1.9rem 2.4rem;
    border: 1px solid rgba(25, 24, 43, 0.25);
    border-radius: 8px;
}

.email-input-field:focus {
    outline: none;
    border-color: var(--dark-slate-grey);
}

.email-input-error {
    color: var(--tomato);
    background-color: rgba(255, 97, 85, 0.15);
    border-color: var(--tomato);
}

.button {
    padding: 2rem 7.2rem;
    cursor: pointer;
    font-weight: bold;
    color: var(--white);
    background-color: var(--dark-slate-grey);
    border: none;
    border-radius: 8px;
}

.button:hover {
    background: linear-gradient(#FF6A3A, #FF527B);
    box-shadow: 0px 16px 32px rgba(255, 97, 85, 0.5);
}

.button:active {
    transform: scale(0.98);
}

.sign-up-image {
    margin: 2.4rem 2.4rem 2.4rem 0;
    max-width: 40rem;
}

/* Success message */
#success-card {
    max-width: 50.4rem;
}

.success-card-content {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.success-card-content h2 {
    margin: 4rem 0 2.4rem 0;
}

.success-card-content p {
    margin-bottom: 4rem;
}

#userEmail {
    font-weight: bold;
}

#dismiss-button {
    width: 37.6rem;
}

/* Media Query - Tablets and Large Mobile */
@media screen and (max-width: 780px) {
    .card {
        flex-direction: column-reverse;
        width: 40rem;
        border-radius: 0;
    }

    .card-content {
        padding: 4rem 2.4rem;
    }

    .text__card-heading {
        font-size: 4rem;
    }

    .sign-up-image {
        margin: 0;
    }
}